.MobileSidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform ease .3s;

  &__header {
    padding: 1rem;
    font-size: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  &__closeIcon {
    font-size: 26px;
  }

  &__brand {
    height: 26px;
  }

  &__content {
    padding: 1rem;
  }

  &--open {
    transform: translateX(0);
  }
}
